<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  enableDomainStylesheets: true
  label: LizShaw.com Blog Listing
  dataQueryPath: ./blog-listing.graphql
-->

{# TODO: Write post about passing offset, limit, etc. into GraphQL blog query#}

{% extends "./layouts/base.hubl.html" %}
{%- set variant = (!topic and !blog_author) ? 'home' : (topic ? 'tag' : 'author') -%}
{%- set blog_posts = data_query.data.BLOG[variant == 'author' ? 'authorPosts' : 'allPosts'].items -%}

{%- for blog_post in blog_posts -%}
  {# FIXME: Open request / make PR to include most of these options via GraphQL #}
  {# Add passthrough props #}
  {%- do blog_post.update({
  "featured_image": resize_image_url(blog_post.featured_image, loop.first ? 1000 : 412),
  "post_summary": blog_post.post_summary|striptags,
  "width": loop.first ? "wide" : "default",
  "label": blog_post.blog_tags|selectattr("name", "equalto", "Featured")|list|length > 0 ? 'Featured' : undefined,
  })-%}
{%- endfor -%}

{% block body %}


  {# TODO: Home (!topic and !blog_author) #}
  {# TODO: blog_author or topic #}

  {%- if variant== 'home' -%}
    {%- js_partial
      path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Hero.tsx",
      title="Hi, my name is Liz Shaw",
      description="I'm a full-time software engineer passionate about growing my own food and becoming as self-sufficient as possible. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.",
      no_wrapper=True -%}
    {%- endif -%}

    {% if variant == 'author' %}
      {%- set title = "Posts by " ~ blog_author.label -%}
        {%- js_partial
        path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Hero.tsx",
        title="{{ title }}",
        no_wrapper=True
        -%}

      {%- elif variant == 'tag' -%}
        {# TAG PAGE #}
        {%- set tagCloudCollection = blog_tags(content_group.id, 50)|sort(False, False, "name") -%}

        {%- js_partial
          path="@projects/LizShawCom-project/LizShawCom-app/components/partials/BlogListingTagHeader.tsx",
          selectedSlug="{{ topic }}",
          tagCloudCollection="{{ tagCloudCollection|tojson }}",
          no_wrapper=True
        -%}
        {# TODO: Request or PR ability to filter via tag in GraphQL query #}
        {%- set blog_posts_by_topic = [] -%}
        {%- for post in blog_posts -%}
          {%- set tagIds = post.blog_tags|map('id') -%}
          {%- if tag_id in tagIds -%}
            {%- do blog_posts_by_topic.append(post) -%}
          {%- endif -%}
        {%- endfor -%}
        {%- set blog_posts = blog_posts_by_topic -%}
    {%- endif -%}

    {# Blog Listing #}
    {# FIXME: Open request / make PR to include tag slug via GraphQL #}
    {%- js_partial
      path="@projects/LizShawCom-project/LizShawCom-app/components/partials/BlogListing.tsx",
      postCollection="{{ blog_posts|tojson }}",
      tagCollection="{{ contents_tags|tojson }}",
      hasScreenReaderHeader={{ variant != 'tag' }},
      no_wrapper=True
    -%}


      {# TODO: Pagination #}
      {%- unless simple_list_page -%}
       {%- if contents.total_page_count > 1 -%}
          <div class="post-listing__pagination">
              <ul>
                  {# -1 from current page #}
                  <li><a class="post-listing__pagination-first {% if current_page_num - 1 <= 0 %}disabled{% endif %}" rel="prev" href="{% if current_page_num - 1 <= 0  %}{{ page_meta.canonical_url }}{% else %}{{ blog_page_link(last_page_num) }}{% endif %}">‹ Prev</a></li>

                  {%- if (current_page_num == contents.total_page_count) and contents.total_page_count >= 5 -%}
                  {# only shows up if we're on the last page #}
                  <li><a class="post-listing__pagination-num" href="{{ blog_page_link(last_page_num - 2) }}">{{ last_page_num - 3 }}</a></li>
                  {%- endif -%}

                  {%- if (current_page_num == contents.total_page_count or current_page_num == contents.total_page_count - 1) and contents.total_page_count >= 4 -%}
                  {# only shows up if we're on the last or penultimate page #}
                  <li><a class="post-listing__pagination-num" href="{{ blog_page_link(last_page_num - 2) }}">{{ last_page_num - 2 }}</a></li>
                  {%- endif -%}

                  {%- if last_page_num > 1 and current_page_num <= contents.total_page_count %}
                  {# -2 from current page #}
                  <li><a class="post-listing__pagination-num" href="{{ blog_page_link(last_page_num - 1) }}">{{ last_page_num - 1 }}</a></li>
                  {% endif %}

                  {%- if last_page_num > 0 and current_page_num <= contents.total_page_count -%}
                  {# -1 from current page #}
                  <li><a class="post-listing__pagination-num" rel="prev" href="{{ blog_page_link(last_page_num) }}">{{ last_page_num }}</a></li>
                  {%- endif -%}

                  <li><a class="post-listing__pagination-num post-listing__pagination-current" href="{{ blog_page_link(current_page_num) }}">{{ current_page_num }}</a></li>


                  {%- if next_page_num <= contents.total_page_count and next_page_num > current_page_num -%}
                  {# +1 from current page #}
                  <li><a class="post-listing__pagination-num" rel="next" href="{% if next_page_num == 1 %}{{ page_meta.canonical_url }}{% else %}{{ blog_page_link(next_page_num) }}{% endif %}">{{ next_page_num }}</a></li>
                  {%- endif -%}

                  {%- if next_page_num + 1 <= contents.total_page_count and next_page_num + 1 > current_page_num -%}
                  {# +2 from current page #}
                  <li><a class="post-listing__pagination-num" href="{% if next_page_num + 1 == 1 %}{{ page_meta.canonical_url }}{% else %}{{ blog_page_link(next_page_num + 1) }}{% endif %}">{{ next_page_num + 1 }}</a></li>
                  {%- endif -%}

                  {%- if (current_page_num + 3 == 4 or current_page_num + 3 == 5) and contents.total_page_count >= 4 -%}
                  {# only shows up if we're on the first or second page #}
                  <li><a class="post-listing__pagination-num" href="{% if current_page_num + 3 == 1 %}{{ page_meta.canonical_url }}{% else %}{{ blog_page_link(current_page_num + 3) }}{% endif %}">{{ current_page_num + 3 }}</a></li>
                  {%- endif -%}

                  {%- if current_page_num + 4 == 5 and contents.total_page_count >= 5 -%}
                  {# only shows up if we're on the first page #}
                  <li><a class="post-listing__pagination-num" href="{% if current_page_num + 4 == 1 %}{{ page_meta.canonical_url }}{% else %}{{ blog_page_link(5) }}{% endif %}">{{ current_page_num + 4 }}</a></li>
                  {%- endif -%}

                  {# +1 from current page  #}
                  <li><a class="post-listing__pagination-last {% if current_page_num + 1 > contents.total_page_count %}disabled{% endif %}" rel="next" href="{% if current_page_num + 1 > contents.total_page_count or current_page_num + 1 == 1 %}{{ page_meta.canonical_url }}{% else %}{{ blog_page_link(next_page_num) }}{% endif %}">Next ›</a></li>
              </ul>
          </div>
      {% endif %}
    {%- endunless -%}
  {% endblock body %}
