<!--
  templateType: blog_post
  isAvailableForNewContent: true
  enableDomainStylesheets: true
  label: LizShaw.com Blog Post
-->

{# TODO: screenshotPath: ../images/template-previews/application-listing.png #}
{% extends "./layouts/base.hubl.html" %}

{% block body %}

  {# Image placement var #}
  {%- choice "image_placement" label='Choose image placement', value='Right', choices='Left, Right, Center' export_to_template_context=True -%}

  {# Header with title, image and other meta data #}
  {%- js_partial
    path="@projects/LizShawCom-project/LizShawCom-app/components/partials/PostHeader.tsx",
    imagePlacement="{{ widget_data.image_placement.value|lower }}",
    title="{{ content.name|striptags }}",
    image="{{ content.featured_image or '' }}",
    imageAlt="{{ content.featured_image_alt }}",
    authorDisplayName="{{ content.blog_author.display_name }}",
    authorSlug="{{ content.blog_author.slug }}",
    publishDate="{{ content.publish_date_localized }}",
    topic_list="{{ content.topic_list|tojson }}",
    publishedUrl="{{ content.published_url }}",
    no_wrapper=True
  -%}

  {# Article #}
  {%- if bundle_request.inpageEditorUI -%}
    {# Using content.post_body in the page editor allows users to edit #}
    {# TODO: Add this to a blog post of little-known HubL tips and tricks, plus some Jinja stuff #}
    {{ content.post_body }}
  {%- else -%}
    {%- js_partial
      path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Article.tsx",
      html="{{ content.post_body_rss|cut('<br>')|cut('<br />')|cut('<br/>') }}",
      no_wrapper=True
    -%}
  {%- endif -%}


 {# Previous/Next Posts #}
 {%- set prev_next_posts = [
    {
        html_title: content.previous_post_name,
        url: content.previous_post_slug,
        featured_image: content.previous_post_featured_image,
        featured_image_alt_text: content.previous_post_featured_image_alt_text || content.previous_post_name,
        post_summary: "",
        label: "Previous Post",
        blog_tags: []
      },
      {
        html_title: content.next_post_name,
        url: content.next_post_slug,
        featured_image: content.next_post_featured_image,
        featured_image_alt_text: content.next_post_featured_image_alt_text || content.next_post_name,
        post_summary: "",
        label: "Next Post",
        blog_tags: []
    }
  ]|selectattr('html_title', 'defined') -%}
  <aside>
    {%- js_partial
      path="@projects/LizShawCom-project/LizShawCom-app/components/partials/CardGrid.tsx",
      aboveMobileGap="3%",
      cards="{{ prev_next_posts|tojson }}",
      maxWidth="800px",
      screenReaderDescription="Previous and next blog posts",
      no_wrapper=True
    -%}
  </aside>

  {# Related post ("You may also like") #}
  {%- set related_posts = blog_recent_tag_posts(content.content_group_id, content.tag_list|rejectattr('label', 'equalto', 'Featured'), 4, "OR")|rejectattr('slug', 'equalto', slug) -%}
  {%- set related_post = related_posts|first -%}
  {%- set related_tag = related_post.tagList|rejectattr('label', 'equalto', 'Featured')|first -%}
  {%- if related_post -%}
    {%- js_partial
      path="@projects/LizShawCom-project/LizShawCom-app/components/partials/RelatedPost.tsx",
      featured_image="{{ related_post.featured_image }}",
      featured_image_alt_text="{{ related_post.featured_image_alt_text || related_post.html_title  }}",
      relatedTagLabel="{{ related_tag.label }}",
      relatedTagSlug="{{ related_tag.slug }}",
      tags="{{ related_post.tagList|tojson }}",
      html_title="{{ related_post.html_title }}",
      url="{{ related_post.slug }}",
      post_summary="{{ related_post.post_summary|striptags }}",
      no_wrapper=True
  -%}
  {%- endif -%}


{#
      <h3 class="post__centered-heading">Further Reading</h3>
      <aside class="cards" data-variant="related" role="supplemental">
        {% from 'Templates/Custom/Blog/Mordite Blog/Macros/card.html' import renderCard %}
        {% related_blog_posts blog_ids="3920686537", limit=3, post_formatter="renderCard", no_wrapper=True %}
      </aside>

      <section class="post__comments" {% unless useComments %} style="display:none;"{% endunless %}>
        <h3 class="post__centered-heading">Discussion</h3>
        {%- blog_comments "blog_comments" overrideable=False, label='Comments' -%}
      </section>

      {%- if content.topic_list -%}
        <p class="post__topics"> Topics:
          {% for topic in content.topic_list %}
            <a class="post__topics-link" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
      {%- endif -%}
      #}
{% endblock body %}
