:root {
  --max-width: 1380px;
  --container-max-width: 860px;
  --article-max-width: 720px;
  --fs-0: clamp(6.4rem, 5.883rem + 7.83vw, 8.03rem);
  --fs-1: clamp(1.4rem, 0.883rem + 2.83vw, 3.03rem);
  --fs-2: clamp(1.2rem, 0.883rem + 1.58vw, 2.11rem);
  --container-fs-2: clamp(1.05rem, 0.753rem + 1.43cqi, 1.96rem);
  --fs-3: clamp(1.15rem, 0.98rem + 0.38vw, 1.24rem);
  --fs-body: clamp(1.00rem, 0.93rem + 0.33vw, 1.19rem);
  --container-fs-body: clamp(0.9rem, 0.83rem + 0.23cqi, 1.09rem);
  --fs-4: clamp(0.9rem, 0.83rem + 0.23vw, 1.09rem);
  --fs-5: clamp(0.8rem, 0.73rem + 0.13vw, 0.99rem);
  --fs-6: clamp(0.78rem, 0.71rem + 0.11vw, 0.97rem);
  --ff-heading: Philosopher,Helvetica Neue,Helvetica,Arial,sans-serif;
  --ff-body: "Rubik",Helvetica Neue,Helvetica,Arial,sans-serif;
  --gutter-mobile: 20px;
  --gutter-desktop: 56px;
  --bottom-margin-desktop: 60px;
  --bottom-margin-default: 32px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only:focus {
  position: relative;
  width: auto;
  height: auto;
  clip: initial;
  margin: inherit;
  padding: inherit;
  border: initial;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  line-height: 1.8;
  word-break: break-word;
  color: #070e19;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}/* TODO: Dark mode */

blockquote,
q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: none; }

q::before, q::after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  appearance: none;
  font: inherit; }

img,
video,
iframe,
object {
  max-width: 100%; height: auto; }

input,
button,
select {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

p {
  display: block;
  margin: 0 0 var(--bottom-margin-default) 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: var(--bottom-margin-default);
  font-family: var(--ff-heading);
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.3;
}

h1 {
  font-size: var(--fs-1);}

h2 {
	font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {font-size: var(--fs-5); }

h6 {font-size: var(--fs-6);}

a {
  text-decoration: none;
  color: #070e19;
  border-bottom: 1px solid rgba(100, 40, 100, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}
a:hover {
  border-bottom: 1px solid rgba(100, 40, 100, 1);
}

em {
  font-style: italic; }

strong {
  font-weight: 600;}
