:root {
  --max-width: 1380px;
  --container-max-width: 860px;
  --fs-0: clamp(6.4rem, 5.883rem + 7.83vw, 8.03rem);
  --fs-1: clamp(1.4rem, 0.883rem + 2.83vw, 3.03rem);
  --fs-2: clamp(1.2rem, 0.883rem + 1.58vw, 2.11rem);
  --container-fs-2: clamp(1.05rem, 0.753rem + 1.43cqi, 1.96rem);
  --fs-3: clamp(1.1rem, 0.93rem + 0.33vw, 1.19rem);
  --fs-body: clamp(1.00rem, 0.93rem + 0.33vw, 1.19rem);
  --container-fs-body: clamp(1.00rem, 0.93rem + 0.33cqi, 1.19rem);
  --fs-4: clamp(0.9rem, 0.83rem + 0.23vw, 1.09rem);
  --fs-5: clamp(0.8rem, 0.73rem + 0.13vw, 0.99rem);
  --fs-6: clamp(0.7rem, 0.63rem + 0.03vw, 0.89rem);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

@keyframes animateElement {
  0% {
    transform: translate(0px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--fs-body);
  font-family: "Rubik",Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.25;
  word-break: break-word;
  color: #070e19;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}/* TODO: Dark mode */

blockquote,
q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: none; }

q::before, q::after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  appearance: none;
  font: inherit; }

img,
video,
iframe,
object {
  max-width: 100%; }

input,
button,
select {
  font-family: "Rubik",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: var(--fs-body);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.25em;
  font-family: "Philosopher",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: normal;
}

h1 {
  font-size: var(--fs-1);}

h2 {
	font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {font-size: var(--fs-5); }

h6 {font-size: var(--fs-6);}

a {
  transition: 0.35s ease color;
  text-decoration: none;
}

em {
  font-style: italic; }

strong {
  font-weight: 600;}
