<!--
  templateType: none
-->
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if page_meta.html_title or pageTitle -%}
      <title>{{ page_meta.html_title or pageTitle }}</title>
    {%- endif -%}
    {%- if domain_settings.favicon_src -%}
      <link rel="shortcut icon" href="{{ domain_settings.favicon_src }}" />
    {%- endif -%}
    {# Global CSS #}
    <link rel="stylesheet" href="{{ get_asset_url('/LizShawCom-theme/lizshawcom-global.css') }}" />
    <meta name="description" content="{{ page_meta.meta_description }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="{{ meta_author }}" />
    {{ standard_header_includes }}
  </head>
  <body class="{{ builtin_body_classes }}">
    {%- block header -%}
      {%- js_partial
        path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Header.jsx",
        brandColor="{{ theme.brand_color }}",
        text="Hello from LizShaw.com!",
        no_wrapper=True -%}
    {%- endblock header -%}

    {# <main> rendered in listing and post templates #}
    {%- block body -%}
    {%- endblock body -%}

    {%- block footer -%}
      {%- js_partial
        path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Footer.jsx",
        no_wrapper=True -%}
    {%- endblock footer -%}

    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
