<!--
  templateType: none
-->

{%- set main_content_id = 'main' -%}
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if page_meta.html_title or pageTitle -%}
      <title>{{ page_meta.html_title or pageTitle }}</title>
    {%- endif -%}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Rubik&family=Philosopher&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&family=Philosopher&display=swap" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&family=Philosopher&display=swap" />
    </noscript>

    {%- if domain_settings.favicon_src -%}
      <link rel="shortcut icon" href="{{ domain_settings.favicon_src }}" />
    {%- endif -%}
    {# Global CSS #}
    <link rel="stylesheet" href="{{ get_asset_url('/LizShawCom-theme/lizshawcom-global.css') }}" />
    <meta name="description" content="{{ page_meta.meta_description }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="{{ meta_author }}" />
    {{ standard_header_includes }}
  </head>
  <body class="{{ builtin_body_classes }}">

  <a class="sr-only" href="#{{main_content_id}}">Skip to main content</a>

  {# SITE COVER BG #}
  {%- js_partial path="@projects/LizShawCom-project/LizShawCom-app/components/partials/SiteCover.tsx", no_wrapper=True -%}

  {# TODO: Nav, search, etc. #}
  {%- block header -%}

    {%- js_partial path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Header.tsx", no_wrapper=True -%}
{#

    {%- menu
    flyouts=False,
    site_map_name="LizShaw.com Header",
    root_type='site_root',
    no_wrapper=True,
    id=153031011889,
    max_levels=1,
    overrideable=False
  -%} #}

  {# site_map_name="LizShaw.com Header",
  root_type="site_root",
  no_wrapper=True,
  max_levels=1,
  parent_widget_container=null,
  id=153031011889,
  tag="menu",
  flyouts=False,
  type="menu",
  overrideable=False, #}


  {%- endblock header -%}

    <main id="{{main_content_id}}">
      {%- block body -%}
      {%- endblock body -%}
    </main>
    {%- block footer -%}
      {%- set popular_posts = blog_popular_posts(content_group.id, 2) -%}

      {%- js_partial
        path="@projects/LizShawCom-project/LizShawCom-app/components/partials/HR.tsx",
        no_wrapper=True
      -%}

      {%- js_partial
        path="@projects/LizShawCom-project/LizShawCom-app/components/partials/Footer.tsx",
        popularPostsCollection="{{ popular_posts|tojson }}",
        no_wrapper=True
      -%}

    {%- endblock footer -%}

    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}

  </body>
</html>
